.stat-card {
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

:host ::ng-deep {
  * {
    transition: none !important;
  }

  .mat-button-toggle-group {
    border-radius: 4px;
    overflow: hidden;
  }

  .mat-button-toggle {
    &.mat-button-toggle-checked {
      background-color: rgba(var(--color-primary-rgb), 0.1);
      color: var(--color-primary);
    }
  }
  .mat-button-toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(var(--color-text-rgb), 0.2);
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

:host-context(.dark-theme) {
  .stat-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper,
:host ::ng-deep .mat-mdc-form-field-bottom-align {
  display: none !important;
}
