<div class="px-2 panel rounded-b-md w-full shadow-lg">
  @if (defaultGroup()?.studentDetails?.length ?? 0 > 0) {
    <app-student-list
      [classroomId]="classroomId()"
      [configurationId]="configurationId()"
      [groupId]="defaultGroup()?.id"
      [studentDetails]="defaultGroup()?.studentDetails"
      [roundedBottom]="true"
      [groupIndex]="0"
      [columnDetails]="columnDetails()"
      (studentFieldUpdated)="updateStudentField($event)"
      (studentDeleted)="deleteStudent($event)"
      (studentPositionUpdated)="updateStudentPosition($event)"
    ></app-student-list>
  }
</div>
