<div class="panel pt-2 flex flex-col w-full">
  <!-- Toolbar -->
  <div #toolbar>
    <div class="flex justify-between min-h-16 flex-wrap gap-y-4">
      <!-- Modified input container - added max-width and flex properties -->
      <div
        class="flex flex-col justify-around flex-shrink flex-grow overflow-hidden mr-4 sticky left-0 pl-2"
      >
        <div class="flex flex-col">
          <input
            class="text-ellipsis text-2xl m-0 appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline whitespace-nowrap overflow-hidden"
            type="text"
            [maxLength]="MAX_CLASSROOM_NAME_LENGTH"
            [value]="configurationLabel()"
            (change)="updateLabel($event)"
            placeholder="Untitled"
          />
          <input
            class="text-ellipsis text-sm appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline whitespace-nowrap overflow-hidden"
            type="text"
            [maxLength]="MAX_CONFIGURATION_NAME_LENGTH"
            [value]="configurationDescription()"
            (change)="updateDescription($event)"
            placeholder="Add a description for your configuration"
          />
        </div>
      </div>

      <!-- Modified button container - added flex-shrink-0 -->
      <div class="flex gap-x-4 mt-2 flex-shrink-0 sticky right-0 pr-2">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{
            groupingByDivision() ? 'Number of groups' : 'Students per group'
          }}</mat-label>
          <input
            [tabindex]="-1"
            matInput
            [formControl]="groupingControl()"
            type="number"
            [value]="groupingValue()"
            (change)="updateGroupingValue($event)"
            [min]="0"
            [max]="studentsInConfiguration().length"
          />
          <button
            class="mr-2"
            [tabindex]="-1"
            [matTooltip]="
              groupingByDivision() ? 'Students per group' : 'Number of groups'
            "
            matSuffix
            mat-icon-button
            (click)="toggleGroupingType()"
          >
            <mat-icon>safety_divider</mat-icon>
          </button>
        </mat-form-field>

        <div class="flex gap-x-2">
          <div class="flex flex-col justify-around">
            <button
              [tabindex]="-1"
              mat-flat-button
              (click)="
                !classroomUpdating() &&
                  groupStudents(StudentGroupingStrategy.MixedAbilities)
              "
              [disabled]="!groupingControl().valid"
              class="whitespace-nowrap"
            >
              <span class="hidden sm:inline">Mixed</span> Abilities
            </button>
          </div>

          <div class="flex flex-col justify-around">
            <button
              [tabindex]="-1"
              mat-stroked-button
              (click)="
                !classroomUpdating() &&
                  groupStudents(StudentGroupingStrategy.SimilarAbilities)
              "
              [disabled]="!groupingControl().valid"
              class="whitespace-nowrap"
            >
              <span class="hidden sm:inline">Similar</span> Abilities
            </button>
          </div>

          <div class="flex">
            <div class="flex flex-col justify-around">
              <button
                class="!flex"
                [matTooltip]="collapsed() ? 'Show details' : 'Hide details'"
                mat-icon-button
                (click)="toggleCollapsedPanels()"
                [tabIndex]="-1"
              >
                <mat-icon>{{
                  collapsed() ? 'unfold_more' : 'unfold_less'
                }}</mat-icon>
              </button>
            </div>

            <div class="flex flex-col justify-around">
              <button
                [tabindex]="-1"
                matTooltip="More"
                mat-icon-button
                [matMenuTriggerFor]="configurationMenu"
                class="!flex"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="mt-4 px-2">
      <app-column-list
        [classroomId]="classroomId()"
        [columnDetails]="columnDetails()"
        [configurationId]="configurationId()"
        [defaultGroup]="defaultGroup()"
        [rightHeaderTemplate]="columnRightHeaderTemplate"
        [roundBottom]="
          !defaultGroup().studentDetails.length || !columnDetails().length
        "
      ></app-column-list>
    </div>
  </div>
</div>

<!-- Rest of the code remains unchanged -->
<mat-menu #configurationMenu="matMenu">
  <ng-template matMenuContent>
    <button
      mat-menu-item
      (click)="createStudent()"
      [disabled]="
        studentsInConfiguration().length >=
        (account()?.subscription?.maxStudentsPerClassroom || 0)
      "
      [matTooltip]="
        studentsInConfiguration().length >=
        (account()?.subscription?.maxStudentsPerClassroom || 0)
          ? 'Student limit reached!'
          : ''
      "
      matTooltipPosition="left"
    >
      <mat-icon>person_add</mat-icon>
      <span>Add student</span>
    </button>
    <button
      [disabled]="
        listGroupDetails().length >=
        (account()?.subscription?.maxStudentsPerClassroom || 0)
      "
      [matTooltip]="
        listGroupDetails().length >=
        (account()?.subscription?.maxStudentsPerClassroom || 0)
          ? 'Group limit reached!'
          : ''
      "
      matTooltipPosition="left"
      mat-menu-item
      (click)="createGroup()"
    >
      <mat-icon>group_add</mat-icon>
      <span>Add group</span>
    </button>
    <button
      [disabled]="
        columnDetails().length >=
        (account()?.subscription?.maxFieldsPerClassroom || 0)
      "
      [matTooltip]="
        columnDetails().length >=
        (account()?.subscription?.maxFieldsPerClassroom || 0)
          ? 'Column limit reached!'
          : ''
      "
      matTooltipPosition="left"
      mat-menu-item
      (click)="openCreateColumnDialog()"
    >
      <mat-icon>add_column_right</mat-icon>
      <span>Add column</span>
    </button>
    <button mat-menu-item (click)="exportToCsv()">
      <mat-icon>file_download</mat-icon>
      <span>Export to CSV</span>
    </button>
    <button mat-menu-item (click)="openDeleteConfigurationDialog()">
      <mat-icon class="!text-red-500">delete</mat-icon>
      <span>Delete configuration</span>
    </button>
  </ng-template>
</mat-menu>

<ng-template
  #columnRightHeaderTemplate
  let-enabled="enabled"
  let-id="id"
  let-type="type"
>
  @if (type === FieldType.NUMBER) {
    <mat-checkbox
      class="pr-2"
      [checked]="enabled"
      (change)="toggleColumnEnabled(id, $event)"
    ></mat-checkbox>
  }
</ng-template>
