<div class="flex flex-col h-full relative">
  <div class="absolute inset-0 overflow-auto flex flex-col">
    <div
      class="mx-4 pt-3 b-2 px-2 panel rounded-b-lg flex flex-col sticky top-0 z-10 shadow-lg"
    >
      <div class="px-2 flex justify-between">
        <div class="flex flex-col justify-around">
          <div>
            <h3 class="text-2xl">
              {{ configurationDetail().label }}
            </h3>
            <h4 class="text-sm opacity-80">
              {{ configurationDetail().description }}
            </h4>
          </div>
        </div>

        <div class="flex">
          <div class="flex flex-col justify-around">
            <mat-chip-listbox [multiple]="true">
              @if (showGroupNames()) {
                <mat-chip-option
                  class="border border-zinc-400 dark:border-zinc-600"
                  [selected]="underlineGroupNames()"
                  (click)="toggleUnderlineGroupNames()"
                >
                  Underline group names
                </mat-chip-option>
              }
              <mat-chip-option
                class="border border-zinc-400 dark:border-zinc-600"
                [selected]="showGroupNames()"
                (click)="toggleShowGroupNames()"
              >
                Group names
              </mat-chip-option>
              <mat-chip-option
                class="border border-zinc-400 dark:border-zinc-600"
                [selected]="showUngroupedStudents()"
                (click)="toggleShowUngroupedStudents()"
              >
                Ungrouped students
              </mat-chip-option>
            </mat-chip-listbox>
          </div>

          <div class="flex flex-col justify-around ml-4">
            <button
              [tabindex]="-1"
              matSuffix
              mat-raised-button
              (click)="copyText()"
            >
              <mat-icon class="text-md">content_copy</mat-icon>
              <span class="text-sm opacity-80">Copy Text</span>
            </button>
          </div>
        </div>
      </div>

      <app-column-list
        class="py-4"
        [classroomId]="classroom().id"
        [columnDetails]="columnDetails()"
        [configurationId]="configurationDetail().id"
        [defaultGroup]="defaultGroup()"
        [enableDrag]="false"
        [rightHeaderTemplate]="columnRightHeaderTemplate"
      ></app-column-list>
    </div>

    <div class="panel m-4 flex-auto rounded-lg shadow-lg flex flex-col flex-1">
      <div class="flex flex-1">
        <mat-tab-group class="flex-1">
          <mat-tab label="Text Visualization">
            <div #textVisualization class="p-4 flex flex-wrap gap-8 flex-auto">
              @for (
                groupDetail of configurationDetail().groupDetails;
                track groupDetail.id
              ) {
                @if (
                  (showUngroupedStudents() &&
                    groupDetail.studentDetails.length) ||
                  groupDetail.id !== defaultGroup().id
                ) {
                  <div>
                    @if (showGroupNames()) {
                      <h6
                        class="text-lg"
                        [ngClass]="{
                          underline: underlineGroupNames(),
                        }"
                      >
                        {{
                          groupDetail.id === defaultGroup().id
                            ? 'Ungrouped Students'
                            : groupDetail.label
                        }}
                      </h6>
                    }
                    <ul>
                      @for (
                        studentDetail of groupDetail.studentDetails;
                        track studentDetail.id
                      ) {
                        <li>
                          @for (
                            columnDetail of columnDetails();
                            track columnDetail.id
                          ) {
                            @if (visibleColumnIds.has(columnDetail.id)) {
                              {{
                                studentDetail.fieldIdsToValues[
                                  columnDetail.fieldId
                                ]
                              }}
                            }
                          }
                        </li>
                      }
                    </ul>
                    <br />
                  </div>
                }
              }
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<ng-template
  #columnRightHeaderTemplate
  let-type="type"
  let-enabled="enabled"
  let-id="id"
>
  @if (visibleColumnIds) {
    <div class="flex flex-col justify-around">
      <mat-slide-toggle
        class="scale-75"
        [checked]="visibleColumnIds!.has(id)"
        (change)="toggleVisibleColumn(id, $event)"
      >
      </mat-slide-toggle>
    </div>
  }
</ng-template>
