<section class="flex justify-between p-4">
  <div class="flex items-center flex-1">
    <button
      mat-icon-button
      matTooltip="{{ sidenavOpen() ? 'Hide' : 'Show' }} configurations"
      (click)="toggleSidenavPanel()"
      class="mr-2 !flex"
    >
      <mat-icon>{{ sidenavOpen() ? 'menu_open' : 'menu' }}</mat-icon>
    </button>

    <div class="flex flex-col flex-1">
      <input
        class="text-ellipsis text-3xl m-0 appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        maxlength="150"
        [value]="classroom().label"
        (change)="updateClassroomLabel($event)"
        placeholder="Untitled"
      />
      <input
        class="text-ellipsis appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        maxlength="150"
        [value]="classroom().description"
        (change)="updateClassroomDescription($event)"
        placeholder="Add a description for your classroom"
      />
    </div>
  </div>

  <div class="flex flex-col justify-around mr-6">
    <mat-button-toggle-group
      [value]="configurationViewMode()"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle
        [value]="ConfigurationViewMode.Edit"
        (change)="setConfigurationViewMode($event)"
      >
        <mat-icon class="opacity-80" matTooltip="Edit"> edit </mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="ConfigurationViewMode.Text"
        (change)="setConfigurationViewMode($event)"
      >
        <mat-icon class="opacity-80" matTooltip="Text"> text_fields </mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="ConfigurationViewMode.Visualize"
        (change)="setConfigurationViewMode($event)"
      >
        <mat-icon class="opacity-80" matTooltip="Visualize">
          bar_chart
        </mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <app-counter-card
    class="mr-4"
    [count]="groupDetails().length"
    icon="group"
    limitReachedTooltip="Group limit reached!"
    [withinLimitTooltip]="
      (groupDetails().length || 'No') +
      ' group' +
      (groupDetails().length === 1 ? '' : 's')
    "
    [totalCount]="maxStudentsPerClassroom()"
  ></app-counter-card>

  <app-counter-card
    class="mr-4"
    [count]="studentDetails().length"
    icon="person"
    limitReachedTooltip="Student limit reached!"
    [withinLimitTooltip]="
      (studentDetails().length || 'No') +
      ' student' +
      (studentDetails().length === 1 ? '' : 's')
    "
    [totalCount]="maxStudentsPerClassroom()"
  ></app-counter-card>

  <app-counter-card
    class="mr-4"
    [count]="columnDetails().length"
    icon="view_columns"
    limitReachedTooltip="Column limit reached!"
    [withinLimitTooltip]="
      (columnDetails().length || 'No') +
      ' column' +
      (columnDetails().length === 1 ? '' : 's')
    "
    [totalCount]="maxFieldsPerClassroom()"
  ></app-counter-card>

  <div class="flex flex-col justify-around">
    <button
      matTooltip="Back to Classrooms"
      mat-icon-button
      [routerLink]="['/classrooms']"
      class="!flex"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="flex flex-col justify-around">
    <app-code-links-menu-button></app-code-links-menu-button>
  </div>

  <div class="flex flex-col justify-around">
    <app-toggle-theme-button></app-toggle-theme-button>
  </div>

  <div class="flex flex-col justify-around">
    <button
      class="!flex"
      matTooltip="Settings"
      mat-icon-button
      [matMenuTriggerFor]="classroomSettingsMenu"
      [tabIndex]="-1"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="flex flex-col justify-around">
    <app-account-menu-button></app-account-menu-button>
  </div>
</section>

<mat-menu #classroomSettingsMenu="matMenu">
  <button
    mat-menu-item
    (click)="openDeleteClassroomDialog()"
    matTooltip="Delete Classroom"
  >
    <mat-icon class="!text-red-500">delete</mat-icon>
    <span>Delete classroom</span>
  </button>
</mat-menu>
