<ng-content></ng-content>

<div class="px-8 py-12 max-w-xs relative">
  <mat-icon [class]="'absolute top-8 right-8 text-md'">
    <span [class]="subscriptionPlan().iconClass">
      {{ subscriptionPlan().icon }}
    </span>
  </mat-icon>

  <h5 class="!font-semibold !m-0 text-xl">{{ subscriptionPlan().title }}</h5>
  <span class="text-sm italic">{{ subscriptionPlan().subtitle }}</span>

  <div class="my-6 flex">
    <h6 class="font-bold text-3xl">{{ subscriptionPlan().displayCost }}</h6>
    <div class="flex flex-col justify-around text-sm opacity-70 mt-2">
      <span>{{ subscriptionPlan().displayCostSubtitle }}</span>
    </div>
  </div>

  <div class="mb-6">
    <pre class="text-xs custom-pre">{{ subscriptionPlan().description }}</pre>
  </div>

  @if (subscriptionPlan().showActionAsButton) {
    <button
      matTooltip="Under construction!"
      [disabled]="true"
      class="bg-gradient-fade dark:shadow-lg rounded-lg text-white text-sm px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 dark:focus:ring-gray-700"
    >
      {{ subscriptionPlan().actionText }}
    </button>
  } @else {
    <span
      class="bg-zinc-200 dark:bg-zinc-700 border border-zinc-300 dark:border-zinc-500 font-semibold rounded-lg text-sm px-4 py-2"
    >
      {{ subscriptionPlan().actionText }}
    </span>
  }
</div>
