<div class="flex-1 panel relative">
  <div
    #scrollContainer
    class="absolute h-full flex flex-col overflow-auto flex-1 w-full"
  >
    <div class="sticky top-0 z-10 panel shadow-lg w-full px-4 pt-4">
      <h5>Configurations</h5>

      <form>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Find configuration</mat-label>
          <input
            #configurationSearchQuery
            type="text"
            matInput
            placeholder="1st Group Project"
            (input)="searchQuery.set(configurationSearchQuery.value)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>

    <mat-action-list>
      @if (configurationsLoading()) {
        <mat-spinner></mat-spinner>
      } @else {
        @for (
          configuration of filteredConfigurations();
          track configuration.id
        ) {
          <mat-list-item (click)="selectConfiguration(configuration.id)">
            <mat-icon matListItemIcon>{{
              configuration.id === selectedConfigurationId() ? 'group' : null
            }}</mat-icon>
            <div
              matListItemTitle
              [ngClass]="{
                'opacity-50': !configuration.label,
              }"
            >
              {{ configuration.label || 'Untitled' }}
            </div>
            <div matListItemLine>
              {{ configuration.description }}
            </div>
          </mat-list-item>
        }
      }
    </mat-action-list>

    <div class="ml-4 flex gap-x-2 mb-2">
      <div [matTooltip]="isLoggedIn() ? '' : 'You must be logged in!'">
        <button
          [disabled]="!createConfigurationLabel || !isLoggedIn()"
          mat-icon-button
          (click)="createConfiguration()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <input
        type="text"
        [(ngModel)]="createConfigurationLabel"
        placeholder="Add configuration"
        class="outline-none border-b border-gray-600 dark:border-gray-300 bg-transparent placeholder-gray-700 dark:placeholder-current"
      />
    </div>
  </div>
</div>
