<div class="w-full h-full flex">
  <!-- Larger Resolutions -->
  <div class="flex-1 w-full h-full flex hidden lg:flex">
    <mat-sidenav-container class="w-full h-full grid-bg">
      <mat-sidenav
        #configurationsSidenav
        mode="side"
        [opened]="true"
        class="max-w-xs shadow-lg border-r border-zinc-400"
      >
        <app-configurations-panel
          [classroomId]="classroomId()"
          [selectedConfigurationId]="configurationId()"
          class="flex-1 w-full h-full"
        ></app-configurations-panel>
      </mat-sidenav>

      <!-- Main Content Area -->
      <mat-sidenav-content>
        <div class="flex flex-col flex-1 h-full">
          @if (classroomDetail(); as classroomDetail) {
            <app-classroom-view
              [classroomDetail]="classroomDetail"
              [sidenavOpen]="configurationsSidenav.opened"
              (sidenavToggled)="configurationsSidenav.toggle()"
            ></app-classroom-view>
          } @else {
            <app-classroom-not-found-view></app-classroom-not-found-view>
          }
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <!-- Smaller Resolutions -->
  <app-mobile-warning-view class="lg:hidden"></app-mobile-warning-view>
</div>
