<div class="flex-1 panel p-4">
  <h5>Classrooms</h5>

  <form>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Find classroom</mat-label>
      <input
        #classroomSearchQuery
        type="text"
        matInput
        placeholder="4th period English"
        (input)="searchQuery.set(classroomSearchQuery.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>

  <mat-action-list>
    @for (classroom of filteredClassrooms(); track classroom.id) {
    <mat-list-item (click)="selectClassroom(classroom.id)">
      <mat-icon matListItemIcon>{{
        classroom.id === shownClassroomId() ? "groups" : null
      }}</mat-icon>
      <div matListItemTitle>{{ classroom.label }}</div>
      <div matListItemLine>{{ classroom.description }}</div>
    </mat-list-item>
    }
  </mat-action-list>

  <div class="ml-4 flex gap-x-2">
    <button mat-icon-button (click)="addClassroom()">
      <mat-icon>add</mat-icon>
    </button>
    <input
      type="text"
      [(ngModel)]="addClassroomLabel"
      placeholder="Add classroom"
      class="outline-none border-b border-gray-600 dark:border-gray-300 bg-transparent placeholder-current"
    />
  </div>
</div>
