<div class="flex-1 panel p-4">
  <h5>Classrooms</h5>

  <form>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Find classroom</mat-label>
      <input
        #classroomSearchQuery
        type="text"
        matInput
        placeholder="4th period English"
        (input)="searchQuery.set(classroomSearchQuery.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>

  <mat-list>
    @for (classroom of filteredClassrooms(); track classroom.id) {
    <mat-list-item (click)="selectClassroom(classroom.id)">
      <mat-icon matListItemIcon>groups</mat-icon>
      <div matListItemTitle>{{ classroom.label }}</div>
      <div matListItemLine>{{ classroom.description }}</div>
    </mat-list-item>
    }
  </mat-list>
</div>
