<div class="flex-1 panel relative">
  <div
    #scrollContainer
    class="absolute h-full flex flex-col overflow-auto flex-1 w-full"
  >
    <div
      class="sticky top-0 z-10 panel shadow-lg dark:shadow-2xl w-full px-4 pt-4 border-b border-zinc-400"
    >
      <div class="flex justify-content-between">
        <h5 class="text-2xl mb-3">
          {{ configurations().length || 'No' }}
          Configuration{{ configurations().length === 1 ? '' : 's' }}
        </h5>
      </div>

      <form>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Find configuration</mat-label>
          <input
            #configurationSearchQuery
            type="text"
            matInput
            placeholder="1st Group Project"
            (input)="searchQuery.set(configurationSearchQuery.value)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>

    <mat-action-list>
      @if (configurationsLoading()) {
        <mat-spinner></mat-spinner>
      } @else {
        @for (
          configuration of filteredConfigurations();
          track configuration.id
        ) {
          <mat-list-item
            (click)="selectConfiguration(configuration.id)"
            [cdkContextMenuTriggerFor]="configurationMenu"
          >
            <mat-icon matListItemIcon>{{
              configuration.id === selectedConfigurationId() ? 'group' : null
            }}</mat-icon>

            <h3
              matListItemTitle
              [ngClass]="{
                'opacity-50': !configuration.label,
              }"
            >
              {{ configuration.label || 'Untitled' }}
            </h3>

            <p class="opacity-80" matListItemLine>
              {{ configuration.description }}
            </p>

            <ng-template #configurationMenu>
              <div class="context-menu" cdkMenu>
                <button
                  class="context-menu-item"
                  cdkMenuItem
                  (click)="deleteConfiguration(configuration.id)"
                >
                  <mat-icon class="mr-3 !text-red-500">group_remove</mat-icon>
                  <span>Delete configuration</span>
                </button>
              </div>
            </ng-template>
          </mat-list-item>
        }
      }
    </mat-action-list>

    <div class="flex">
      @if (addingConfiguration()) {
        <input
          #addConfigurationInput
          type="text"
          [(ngModel)]="createConfigurationLabel"
          (keydown.enter)="createConfiguration()"
          placeholder="Add configuration"
          class="outline-none border border-primary bg-transparent mx-6 p-2 flex-1"
        />
      } @else {
        <div
          class="flex flex-col justify-around"
          [matTooltip]="
            this.configurations().length >=
            (account()?.subscription?.maxConfigurationsPerClassroom ?? 0)
              ? 'Configuration limit reached!'
              : ''
          "
        >
          <button
            class="ml-6"
            #addConfigurationButton
            matSuffix
            mat-button
            (click)="startAddingConfiguration(); $event.stopPropagation()"
            [disabled]="
              this.configurations().length >=
              (account()?.subscription?.maxConfigurationsPerClassroom ?? 0)
            "
          >
            <mat-icon class="text-md">group_add</mat-icon>
            <span class="text-sm opacity-80">Add configuration</span>
          </button>
        </div>
      }
    </div>
  </div>
</div>
