<div class="panel rounded-lg flex-col gap-y-2 p-2 shadow-lg">
  <div class="flex justify-between">
    <div class="flex gap-x-2 flex-1">
      <div class="flex flex-col justify-around">
        <ng-content></ng-content>
      </div>

      <div class="flex flex-col justify-around">
        <mat-checkbox color="primary"></mat-checkbox>
      </div>

      <div class="flex flex-col justify-around flex-1 mr-2">
        <input
          class="text-ellipsis text-2xl m-0 appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          maxlength="120"
          [(ngModel)]="updatedLabel"
          (change)="updateLabel()"
        />
      </div>
    </div>

    <div class="flex gap-x-2">
      <button mat-icon-button (click)="createStudent()">
        <mat-icon>person_add</mat-icon>
      </button>

      <div
        [matTooltip]="
          studentsInGroup().length > 0
            ? 'You can\'t delete group that contains students'
            : ''
        "
      >
        <button
          mat-icon-button
          (click)="deleteGroup()"
          [disabled]="studentsInGroup().length > 0"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div
    cdkDropList
    [id]="groupDetail()?.id ?? ''"
    [cdkDropListConnectedTo]="groupIds()"
    class="grid-row example-list min-h-16 w-full mt-2"
    (cdkDropListDropped)="drop($event)"
  >
    @for (student of editingStudents; track student.id) {
    <div class="grid-row example-box flex" cdkDrag>
      <!-- @for(field of student.fields; track i; let i = $index) {
      <div class="flex-1">
        <div>
          @if(editingFieldId === field.fieldId && editingStudentId ===
          student.id) {
          <input
            #valueInput
            type="text"
            [(ngModel)]="editingField"
            placeholder="Add value"
            class="outline-none bg-transparent border-none w-full text-ellipsis"
            (change)="saveEdits()"
          />
          } @else {
          <span
            class="cursor-text"
            [ngClass]="{
              'opacity-50': !field.value
            }"
            (click)="startEditing(field)"
          >
            {{ field.value || 'Add value' }}
          </span>
          }
        </div>
      </div>
      } -->
    </div>
    }
  </div>
</div>
