<div class="panel rounded-lg flex-col gap-y-2 p-2 shadow-lg">
  <div class="flex justify-between">
    <div class="flex gap-x-2 flex-1">
      <div class="flex flex-col justify-around">
        <ng-content></ng-content>
      </div>

      <div class="flex flex-col justify-around flex-1 mr-2">
        <input
          class="text-ellipsis text-2xl m-0 appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          maxlength="120"
          [value]="groupDetail()?.label || ''"
          (change)="updateLabel($event)"
          placeholder="Untitled"
        />
      </div>
    </div>

    <div class="flex gap-x-2">
      <button mat-icon-button (click)="createStudent()">
        <mat-icon>person_add</mat-icon>
      </button>

      <div
        [matTooltip]="
          studentsInGroup().length > 0
            ? 'You can\'t delete group that contains students'
            : ''
        "
      >
        <button
          mat-icon-button
          (click)="deleteGroup()"
          [disabled]="studentsInGroup().length > 0"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <app-student-list
    [classroomId]="classroomId()"
    [configurationId]="groupDetail()?.configurationId"
    [groupId]="groupDetail()?.id"
    [studentDetails]="groupDetail()?.studentDetails"
  ></app-student-list>
</div>
