<div
  class="panel rounded-lg flex-col gap-y-2 px-2 pt-1 shadow-lg"
  [ngClass]="{
    'pb-2': !anyAverageScore(),
  }"
>
  <div class="flex justify-between">
    <div class="flex gap-x-2 flex-1">
      <div class="flex flex-col justify-around">
        <ng-content></ng-content>
      </div>

      <div class="flex flex-col justify-around flex-1 mr-2">
        <input
          class="text-ellipsis text-lg m-0 appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          maxlength="120"
          [value]="groupDetail()?.label || ''"
          (change)="updateLabel($event)"
          placeholder="Untitled"
        />
      </div>
    </div>

    <div class="flex gap-x-2">
      <button mat-icon-button (click)="createStudent()">
        <mat-icon>person_add</mat-icon>
      </button>

      <div
        [matTooltip]="
          studentsInGroup().length > 0
            ? 'You can\'t delete group that contains students'
            : ''
        "
      >
        <button
          mat-icon-button
          (click)="deleteGroup()"
          [disabled]="studentsInGroup().length > 0"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <app-student-list
    [roundedTop]="true"
    [roundedBottom]="true"
    [classroomId]="classroomId()"
    [configurationId]="groupDetail()?.configurationId"
    [groupId]="groupDetail()?.id"
    [studentDetails]="groupDetail()?.studentDetails"
    [groupIndex]="groupIndex()"
  ></app-student-list>

  @if (anyAverageScore()) {
    <div class="flex justify-between px-2 py-1">
      @for (column of columnDetails(); track i; let i = $index) {
        <span class="flex-1 opacity-80 text-sm">{{
          averageScores()[column.fieldId] | number: '1.2-2'
        }}</span>
      }
    </div>
  }
</div>
