@use 'sass:map';
@use '@angular/material' as mat;

@mixin sharedStyles($theme) {
  .hover-border-primary {
    &:hover {
      border-color: mat.get-theme-color($theme, primary, 50) !important;
    }
  }

  .border-primary {
    border-color: mat.get-theme-color($theme, primary, 50) !important;
  }

  .text-primary {
    color: mat.get-theme-color($theme, primary, 50) !important;
  }

  .bg-primary {
    background-color: mat.get-theme-color($theme, primary, 50);
  }

  .text-secondary {
    color: mat.get-theme-color($theme, tertiary, 50);
  }

  .bg-gradient-fade {
    background: linear-gradient(
      to right,
      mat.get-theme-color($theme, primary, 50),
      mat.get-theme-color($theme, tertiary, 50)
    );
  }

  .text-gradient-fade {
    background: linear-gradient(
      to right,
      mat.get-theme-color($theme, primary, 50),
      mat.get-theme-color($theme, tertiary, 50)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@mixin lightColor($theme) {
}

@mixin lightTheme($theme) {
  @include sharedStyles($theme);

  @if mat.theme-has($theme, color) {
    @include lightColor($theme);
  }
}

@mixin darkColor($theme) {
}

@mixin darkTheme($theme) {
  @include sharedStyles($theme);

  @if mat.theme-has($theme, color) {
    @include darkColor($theme);
  }
}
