@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .hover-border-primary {
    &:hover {
      border-color: mat.get-theme-color($theme, primary, 50) !important;
    }
  }
  .mdc-switch:enabled .mdc-switch__track::after {
    background: mat.get-theme-color($theme, primary, 40) !important;
  }
  .mdc-list-item--with-leading-icon .mdc-list-item__start {
    color: mat.get-theme-color($theme, primary, 40) !important;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
