<div class="w-full h-full flex">
  <app-sidebar></app-sidebar>

  <div class="flex-1 w-full h-full flex">
    <div class="flex flex-col">
      <app-classrooms-panel></app-classrooms-panel>
      <app-configurations-panel></app-configurations-panel>
    </div>

    <div class="flex flex-col gap-y-4 my-4 flex-1">
      <section class="flex justify-between m-4">
        <div>
          <h4>Classroom 1</h4>
        </div>

        <div>
          <button mat-icon-button [matMenuTriggerFor]="classroomSettingsMenu">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </section>

      <section class="mx-4">TODO</section>
    </div>
  </div>
</div>

<mat-menu #classroomSettingsMenu="matMenu">
  <button
    mat-menu-item
    [disabled]="classroomsSignal().length <= 1"
    [matTooltip]="
      classroomsSignal().length <= 1
        ? 'You can\'t delete the last classroom!'
        : ''
    "
  >
    <mat-icon>delete</mat-icon>
    <span>Delete classroom</span>
  </button>
</mat-menu>
