<div class="w-full h-full flex">
  <app-sidebar></app-sidebar>

  <div class="flex-1 w-full h-full flex">
    <div
      appResizeable
      [resizableSides]="[ResizableSide.RIGHT]"
      [panelWidth]="classAndConfigPanelWidth"
      [maxWidth]="maxClassAndConfigPanelWidth"
      [minWidth]="minClassAndConfigPanelWidth"
      (resizedWidth)="setPanelWidth($event)"
      [ngStyle]="{
        'min-width': classAndConfigPanelWidth + 'px'
      }"
      class="flex flex-col border-r border-neutral-400 shadow-lg"
      resizingId="classrooms-and-config-panel"
    >
      <app-classrooms-panel class="flex-1"></app-classrooms-panel>
      <app-configurations-panel
        appResizeable
        [resizableSides]="[ResizableSide.TOP]"
        [panelHeight]="configurationsPanelHeight"
        [maxHeight]="maxConfigurationsPanelHeight"
        [minHeight]="minConfigurationsPanelHeight"
        [maxWidth]="maxClassAndConfigPanelWidth"
        [minWidth]="minClassAndConfigPanelWidth"
        (resizedHeight)="setConfigurationsPanelHeight($event)"
        [ngStyle]="{
          'min-height': configurationsPanelHeight + 'px'
        }"
        class="border-t border-neutral-400"
        resizingId="config-panel"
      ></app-configurations-panel>
    </div>

    <div class="flex flex-col gap-y-4 my-4 flex-1">
      <section class="flex justify-between m-4">
        <div class="flex flex-col">
          <h4 style="margin: 0">{{ viewingClassroom()?.label }}</h4>
          <p>{{ viewingClassroom()?.description }}</p>
        </div>

        <div>
          <button mat-icon-button [matMenuTriggerFor]="classroomSettingsMenu">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </section>

      <section class="mx-4">
        <app-configuration-panel></app-configuration-panel>
      </section>
    </div>
  </div>
</div>

<mat-menu #classroomSettingsMenu="matMenu">
  <button
    mat-menu-item
    [disabled]="classrooms().length <= 1"
    [matTooltip]="
      classrooms().length <= 1 ? 'You can\'t delete the last classroom!' : ''
    "
    (click)="deleteViewedClassroom()"
  >
    <mat-icon>delete</mat-icon>
    <span>Delete classroom</span>
  </button>
</mat-menu>
