<div class="flex flex-col h-full relative">
  <div
    class="panel mx-4 mb-4 flex-auto rounded-lg shadow-lg flex flex-col flex-1"
  >
    <div class="flex flex-col flex-1">
      <div
        class="px-4 pt-4 flex flex-col border-b border-zinc-300 dark:border-zinc-700"
      >
        <div class="flex justify-between">
          <div class="flex flex-col justify-around">
            <div>
              <h3 class="text-2xl">
                {{ configurationDetail().label }}
              </h3>
              <h4 class="text-sm opacity-80">
                {{ configurationDetail().description }}
              </h4>
            </div>
          </div>

          <div class="flex gap-x-2">
            <div class="flex flex-col justify-around">
              <mat-chip-listbox [multiple]="true" class="mr-3">
                <mat-chip-option
                  class="border border-zinc-400 dark:border-zinc-600 !mr-3"
                  [selected]="showGroupNames()"
                  (click)="toggleShowGroupNames()"
                >
                  Group names
                </mat-chip-option>
                <mat-chip-option
                  class="border border-zinc-400 dark:border-zinc-600"
                  [selected]="showUngroupedStudents()"
                  (click)="toggleShowUngroupedStudents()"
                >
                  Ungrouped students
                </mat-chip-option>
              </mat-chip-listbox>
            </div>

            <button
              mat-raised-button
              matTooltip="Regenerate text"
              [disabled]="!isTextModified()"
              (click)="regenerateText()"
              class="!flex"
              matTooltip="Refresh"
              [ngClass]="{
                '!text-amber-700 dark:!text-amber-500': isTextModified(),
              }"
            >
              <mat-icon>refresh</mat-icon>
              <span class="text-sm">Remove edits</span>
            </button>

            <button [tabindex]="-1" matSuffix mat-button (click)="copyText()">
              <mat-icon class="text-md">{{
                showingCopiedMessage() ? 'check' : 'content_copy'
              }}</mat-icon>
              <span class="text-sm">{{
                showingCopiedMessage() ? 'Copied!' : 'Copy text'
              }}</span>
            </button>

            <button
              [tabindex]="-1"
              matTooltip="More"
              mat-icon-button
              [matMenuTriggerFor]="moreMenu"
              class="!flex"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>

        <app-column-list
          class="py-4"
          [classroomId]="classroom().id"
          [columnDetails]="columnDetails()"
          [configurationId]="configurationDetail().id"
          [defaultGroup]="defaultGroup()"
          [enableDrag]="false"
          [rightHeaderTemplate]="columnRightHeaderTemplate"
          [enableContextMenu]="false"
        ></app-column-list>
      </div>

      <div class="max-w-4xl mx-auto flex-auto flex p-4 w-full">
        <div class="flex flex-col w-full">
          <textarea
            class="p-4 bg-gray-50 dark:bg-zinc-900 border border-zinc-300 dark:border-zinc-600 rounded-lg w-full flex-1 min-h-[300px] font-mono text-sm"
            [ngClass]="{
              '!border-amber-700 dark:!border-amber-500': isTextModified(),
            }"
            [value]="editableText()"
            (input)="updateEditableText($event)"
          ></textarea>

          <div class="flex justify-between mt-3 text-sm opacity-70">
            <span>{{ characterCount() }} characters</span>
            <span>{{ lineCount() }} lines</span>
            <span *ngIf="isTextModified()">
              <mat-icon
                class="text-amber-700 dark:text-amber-500 align-middle text-sm"
                >warning</mat-icon
              >
              Modified
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #columnRightHeaderTemplate let-fieldId="fieldId">
  <div class="flex flex-col justify-around">
    <mat-slide-toggle
      class="scale-75"
      [checked]="visibleFieldIds().includes(fieldId)"
      (change)="toggleVisibleField(fieldId, $event)"
    >
    </mat-slide-toggle>
  </div>
</ng-template>

<mat-menu #moreMenu="matMenu">
  <ng-template matMenuContent>
    <button
      mat-menu-item
      (click)="exportToTextFile()"
      matTooltipPosition="left"
      class="!flex"
      matTooltip="More"
    >
      <mat-icon>file_download</mat-icon>
      <span>Export to text file</span>
    </button>
  </ng-template>
</mat-menu>
