<div
  class="grid-bg flex-1 grid-bg flex justify-around fixed top-0 left-0 w-full h-full overflow-auto z-10"
>
  <div class="flex-1 flex flex-col max-w-7xl mx-auto w-full h-full">
    <app-toolbar></app-toolbar>

    <div class="flex-1 flex gap-x-12 flex-col lg:flex-row">
      <div class="flex-1 flex flex-col mx-4 mt-16 lg:ml-4 lg:mt-32">
        <div class="text-center align-items-center">
          <span
            style="margin: 0 !important; font-weight: semibold"
            class="text-5xl lg:text-7xl"
          >
            Design <span class="text-primary italic">smarter</span><br /><span
              class="text-secondary italic"
              >learning</span
            >
            spaces.
          </span>
          <div class="flex justify-around">
            <p class="max-w-2xl py-10 text-lg lg:text-2xl opacity-70">
              Create balanced student groups automatically based on ability
              levels. Save time and improve classroom collaboration.
            </p>
          </div>
          <div>
            <button
              class="inline-flex items-center gap-2 bg-gradient-fade font-semibold text-white shadow-lg hover:shadow-xl transition-all duration-200 hover:scale-105 py-3 px-8 rounded-lg shadow-lg hover:bg-opacity-50 dark:hover:bg-opacity-30 transition duration-100"
              [routerLink]="[isLoggedIn() ? '/classrooms' : '/sign-up']"
            >
              <mat-icon class="text-md">auto_awesome</mat-icon>
              <span>{{
                isLoggedIn() ? 'Go to Classrooms' : 'Start Grouping'
              }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto px-4 flex-grow">
      <div class="grid md:grid-cols-3 gap-8 mt-20 mb-16">
        <app-feature-card
          icon="person"
          title="Mixed Ability Groups"
          description="Create diverse groups with students of different skill levels to promote peer learning."
        ></app-feature-card>
        <app-feature-card
          icon="group"
          title="Similar Ability Groups"
          description="Group students with similar abilities for targeted instruction and appropriate challenges."
        ></app-feature-card>
        <app-feature-card
          icon="rocket"
          title="Quick & Easy"
          description="Save time with automatic group generation based on your criteria. Adjust groups as needed."
        ></app-feature-card>
      </div>
    </div>

    <footer class="py-4 px-4 opacity-70 w-full flex justify-center">
      <p>© {{ fullYear }} ClassroomGroups. All rights reserved.</p>
    </footer>
  </div>
</div>
