<div
  class="w-full h-full flex"
  [ngClass]="{
    'select-none': isResizing()
  }"
>
  <app-sidebar
    (toggledClassAndConfigPanel)="toggleClassAndConfigPanel()"
  ></app-sidebar>

  <div class="flex-1 w-full h-full flex">
    @if (configPanelSettings().isOpen) {
    <div
      appResizeable
      [resizableSides]="[ResizableSide.RIGHT]"
      [panelWidth]="configPanelSettings().width"
      [maxWidth]="maxClassAndConfigPanelWidth"
      [minWidth]="minClassAndConfigPanelWidth"
      (resizedWidth)="setPanelWidth($event)"
      [ngStyle]="{
        'min-width': configPanelSettings().width + 'px'
      }"
      class="flex flex-col border-r border-neutral-400 shadow-lg"
      resizingId="config-panel"
    >
      <app-configurations-panel
        [classroomId]="classroomId()"
        [selectedConfigurationId]="selectedConfigurationId()"
        (configurationIdSelected)="selectConfigurationId($event)"
        class="flex-1"
      ></app-configurations-panel>
    </div>
    }

    <div class="flex flex-col flex-1 overflow-auto">
      @if (classroom()) {
      <div class="flex-1 flex flex-col flex-grow">
        <section class="flex justify-between m-4">
          <div class="flex flex-col flex-1">
            <input
              class="text-ellipsis text-3xl m-0 appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              maxlength="150"
              [(ngModel)]="updatedClassroomLabel"
              (change)="updateClassroomLabel()"
            />
            <input
              class="text-ellipsis appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              maxlength="150"
              [(ngModel)]="updatedClassroomDescription"
              (change)="updateClassroomDescription()"
              placeholder="Add a description for your classroom"
            />
          </div>

          <div>
            <button mat-icon-button [matMenuTriggerFor]="classroomSettingsMenu">
              <mat-icon>settings</mat-icon>
            </button>
          </div>
        </section>

        <div class="flex flex-col gap-y-6 flex-1">
          @if (configurationDetail()) {
          <section class="sticky top-0 mx-4 z-10">
            <app-configuration-panel
              [configurationDetail]="configurationDetail()"
              (labelUpdated)="updateConfigurationLabel($event)"
              (descriptionUpdated)="updateConfigurationDescription($event)"
            ></app-configuration-panel>
          </section>

          @if(editingGroups.length === 0) {
          <section
            class="mx-4 border border-4 border-dashed border-gray-300 flex-1 flex flex-col justify-around mb-4"
          >
            <div class="flex flex-col">
              <div class="flex flex-col gap-y-1">
                <div class="flex justify-around">
                  <h5 class="opacity-50" style="margin: 0">
                    Drag spreadsheet here
                  </h5>
                </div>

                <div class="flex justify-around">
                  <span class="opacity-50">Or if you prefer...</span>
                </div>
              </div>

              <div class="flex flex-col gap-y-2">
                <div class="flex justify-around">
                  <div class="flex gap-x-2">
                    <div class="flex justify-around">
                      <button
                        class="max-h-8 text-sm"
                        mat-button
                        (click)="createGroup()"
                      >
                        Create a new group
                      </button>
                    </div>

                    <div class="flex justify-around">
                      <button
                        class="max-h-8 text-sm"
                        appearance="outline"
                        mat-button
                        (click)="chooseFileToUpload()"
                      >
                        Choose file to upload
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          } @else {
          <section
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            class="mx-4 flex flex-col flex-1 gap-y-6"
          >
            @for(group of editingGroups; track group.id) {
            <app-group-panel
              cdkDrag
              [groupDetail]="group"
              (groupDeleted)="deleteGroup(group.id)"
              (studentCreated)="createStudent(group.id)"
              (labelUpdated)="updateGroupLabel(group, $event)"
            >
              <mat-icon class="cursor-move" cdkDragHandle>drag_handle</mat-icon>
            </app-group-panel>
            }
          </section>
          } } @else if (configurationLoading()) {
          <mat-spinner></mat-spinner>
          }
        </div>
        <section class="sticky bottom-0 flex">
          <mat-progress-bar
            class="flex-1"
            [mode]="
              configurationUpdating() || classroomUpdating()
                ? 'indeterminate'
                : 'determinate'
            "
          ></mat-progress-bar>
        </section>
      </div>
      }
    </div>
  </div>
</div>

<mat-menu #classroomSettingsMenu="matMenu">
  <button
    mat-menu-item
    (click)="openDeleteClassroomDialog()"
    matTooltip="Delete Classroom"
  >
    <mat-icon>delete</mat-icon>
    <span>Delete classroom</span>
  </button>
</mat-menu>
