<div
  class="w-full h-full flex grid-bg"
  [ngClass]="{
    'select-none': isResizing(),
  }"
>
  <div class="flex-1 w-full h-full flex">
    @if (configPanelSettings().isOpen) {
      <div
        appResizeable
        [resizableSides]="[ResizableSide.RIGHT]"
        [panelWidth]="configPanelSettings().width"
        [maxWidth]="maxClassAndConfigPanelWidth"
        [minWidth]="minClassAndConfigPanelWidth"
        (resizedWidth)="setPanelWidth($event)"
        [ngStyle]="{
          'min-width': configPanelSettings().width + 'px',
        }"
        class="flex flex-col border-r border-neutral-400 shadow-lg"
        resizingId="config-panel"
      >
        <app-configurations-panel
          [classroomId]="classroomId()"
          [selectedConfigurationId]="selectedConfigurationId()"
          (configurationIdSelected)="selectConfigurationId($event)"
          class="flex-1"
        ></app-configurations-panel>
      </div>
    }

    <div class="flex flex-col flex-1">
      @if (classroom()) {
        <div class="flex-1 flex flex-col">
          <section class="flex justify-between m-4">
            <div class="flex flex-col flex-1">
              <input
                class="text-ellipsis text-3xl m-0 appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
                type="text"
                maxlength="150"
                [value]="classroomLabel()"
                (change)="updateClassroomLabel($event)"
                placeholder="Untitled"
              />
              <input
                class="text-ellipsis appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
                type="text"
                maxlength="150"
                [value]="classroomDescription()"
                (change)="updateClassroomDescription($event)"
                placeholder="Add a description for your classroom"
              />
            </div>

            <div class="flex flex-col justify-around">
              <button
                matTooltip="Back to classrooms"
                mat-icon-button
                (click)="goToClassroomsView()"
                [tabindex]="-1"
              >
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>

            <div class="flex flex-col justify-around">
              <button
                [tabindex]="-1"
                [matTooltip]="
                  theme() === Themes.LIGHT ? 'Dark mode' : 'Light mode'
                "
                mat-icon-button
                class="sidebar-button"
                (click)="toggleTheme()"
              >
                <mat-icon>{{
                  theme() === Themes.LIGHT ? 'dark_mode' : 'light_mode'
                }}</mat-icon>
              </button>
            </div>

            <div class="flex flex-col justify-around">
              <button
                matTooltip="Settings"
                mat-icon-button
                [matMenuTriggerFor]="classroomSettingsMenu"
                [tabIndex]="-1"
              >
                <mat-icon>settings</mat-icon>
              </button>
            </div>

            <div class="flex flex-col justify-around">
              <button
                matTooltip="Account settings"
                mat-icon-button
                [matMenuTriggerFor]="accountMenu"
                (menuOpened)="markMenuAsOpen()"
                (menuClosed)="markMenuAsClosed()"
              >
                <mat-icon>account_circle</mat-icon>
              </button>
            </div>
          </section>

          @if (configurationDetail()) {
            <section
              #spreadsheet
              class="flex-1 flex flex-col overflow-hidden relative"
            >
              <div
                cdkScrollable
                class="absolute inset-0 overflow-auto flex flex-col"
              >
                <div class="flex flex-1 flex-col w-full min-w-fit">
                  <app-configuration-panel-top
                    class="sticky top-0 z-10 mx-4 flex"
                    [configurationDetail]="configurationDetail()"
                    [columnDetails]="editingColumnDetails"
                    (labelUpdated)="updateConfigurationLabel($event)"
                    (descriptionUpdated)="
                      updateConfigurationDescription($event)
                    "
                    (deletedConfiguration)="selectFirstConfiguration()"
                  ></app-configuration-panel-top>

                  <app-configuration-panel-bottom
                    class="mx-4 flex"
                    [classroomId]="classroomId()"
                    [configurationId]="configurationDetail()?.id"
                    [defaultGroup]="defaultGroup()"
                    [columnDetails]="editingColumnDetails"
                    (studentFieldUpdated)="updateStudentField($event)"
                    (studentDeleted)="deleteStudent($event)"
                    (studentPositionUpdated)="updateStudentPosition($event)"
                  ></app-configuration-panel-bottom>

                  <div class="flex flex-col gap-y-4">
                    <section
                      cdkDropList
                      (cdkDropListDropped)="dropGroup($event)"
                      class="mx-4 flex flex-col flex-1"
                    >
                      @for (
                        group of editingGroups;
                        track group.id;
                        let i = $index
                      ) {
                        @if (
                          group.id !== configurationDetail()?.defaultGroupId
                        ) {
                          <app-group-panel
                            class="flex w-full mt-4"
                            cdkDrag
                            [classroomId]="classroomId()"
                            [groupDetail]="group"
                            [columnDetails]="editingColumnDetails"
                            (groupDeleted)="deleteGroup(group.id)"
                            (studentCreated)="createStudent(group.id)"
                            (labelUpdated)="updateGroupLabel(group, $event)"
                            (studentFieldUpdated)="updateStudentField($event)"
                            (studentDeleted)="deleteStudent($event)"
                            (studentPositionUpdated)="
                              updateStudentPosition($event)
                            "
                            [groupIndex]="i"
                          >
                            <mat-icon class="cursor-move" cdkDragHandle
                              >drag_handle</mat-icon
                            >
                          </app-group-panel>
                        }
                      }
                    </section>
                  </div>

                  <div class="px-2 py-1 mx-4 panel rounded-md mt-4">
                    <button matSuffix mat-button (click)="addGroup()">
                      <mat-icon class="text-md">group_add</mat-icon>
                      <span class="text-sm opacity-80">Add group</span>
                    </button>
                  </div>

                  <span class="flex-auto"></span>

                  @if (anyAverageScores()) {
                    <div
                      class="sticky bottom-0 z-50 px-4 py-2 mx-4 panel rounded-t-md mt-4"
                    >
                      <div class="flex flex-col justify-between gap-y-2">
                        <span class="text-lg">Class average</span>
                        <div class="flex grid-row py-1 rounded-md">
                          @for (
                            columnDetail of columnDetails();
                            track columnIndex;
                            let columnIndex = $index
                          ) {
                            <span class="flex-1 text-sm">{{
                              averageScores()[columnDetail.fieldId]
                                | number: '1.1-2'
                            }}</span>
                          }
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </section>
          } @else if (configurationLoading()) {
            <div class="flex-1">
              <img
                class="p-12 max-w-3xl"
                [src]="
                  theme() === Themes.LIGHT
                    ? 'assets/single-post-light.svg'
                    : 'assets/single-post-dark.svg'
                "
                alt="Icon"
              />

              <mat-spinner class="pl-12"></mat-spinner>
            </div>
          }

          <section class="sticky bottom-0 flex">
            <mat-progress-bar
              class="flex-1"
              [mode]="
                configurationUpdating() || classroomUpdating()
                  ? 'indeterminate'
                  : 'determinate'
              "
            ></mat-progress-bar>
          </section>
        </div>
      }
    </div>
  </div>
</div>

<mat-menu #classroomSettingsMenu="matMenu">
  <button
    mat-menu-item
    (click)="openDeleteClassroomDialog()"
    matTooltip="Delete Classroom"
  >
    <mat-icon>delete</mat-icon>
    <span>Delete classroom</span>
  </button>
</mat-menu>

<mat-menu #accountMenu="matMenu">
  <app-account-menu [menuIsOpen]="menuIsOpen()"></app-account-menu>
</mat-menu>
