<section class="flex-1 flex flex-col overflow-hidden relative h-full">
  <div
    #scrollContainer
    cdkScrollable
    class="absolute inset-0 overflow-auto flex flex-col"
  >
    <div class="flex flex-1 flex-col w-full min-w-fit">
      @if (configurationDetail(); as configurationDetail) {
        @if (defaultGroup(); as defaultGroup) {
          <app-configuration-panel-top
            class="sticky top-0 z-10 mx-4 flex"
            [configurationDetail]="configurationDetail"
            [columnDetails]="columnDetails()"
            [defaultGroup]="defaultGroup"
            [collapsed]="collapsePanelDetails()"
            (labelUpdated)="updateConfigurationLabel($event)"
            (descriptionUpdated)="updateConfigurationDescription($event)"
            (deletedConfiguration)="openDeleteConfigurationDialog($event)"
            (collapsePanelsToggled)="toggleCollapsedPanels()"
          ></app-configuration-panel-top>

          <app-configuration-panel-bottom
            class="mx-4 flex"
            [classroomId]="classroomId()"
            [configurationId]="configurationDetail.id"
            [defaultGroup]="defaultGroup"
            [columnDetails]="columnDetails()"
            [collapsed]="collapsePanelDetails()"
            (studentFieldUpdated)="updateStudentField($event)"
            (studentDeleted)="deleteStudent($event)"
            (studentPositionUpdated)="updateStudentPosition($event)"
          ></app-configuration-panel-bottom>
        }
      }

      <div class="flex flex-col gap-y-4">
        <section
          cdkDropList
          (cdkDropListDropped)="dropGroup($event)"
          class="mx-4 flex flex-col flex-1"
        >
          @for (group of groupDetails(); track group.id; let i = $index) {
            @if (group.id !== configurationDetail().defaultGroupId) {
              <app-group-panel
                class="flex w-full"
                [ngClass]="{
                  'mt-4': !collapsePanelDetails(),
                  'mt-2': collapsePanelDetails(),
                }"
                cdkDrag
                [classroomId]="classroomId()"
                [groupDetail]="group"
                [columnDetails]="columnDetails()"
                (groupDeleted)="deleteGroup(group.id)"
                (studentCreated)="createStudent(group.id)"
                (labelUpdated)="updateGroupLabel(group, $event)"
                (studentFieldUpdated)="updateStudentField($event)"
                (studentDeleted)="deleteStudent($event)"
                (studentPositionUpdated)="updateStudentPosition($event)"
                [groupIndex]="i"
                [collapsed]="collapsePanelDetails()"
              >
                <mat-icon class="cursor-move opacity-80" cdkDragHandle
                  >drag_handle</mat-icon
                >
              </app-group-panel>
            }
          }
        </section>
      </div>

      <app-add-group-panel
        [classroomId]="classroomId()"
        [configurationId]="configurationDetail().id"
        [reachedGroupLimit]="reachedGroupLimit()"
        class="mb-4"
      ></app-add-group-panel>

      <span class="flex-auto"></span>

      @if (anyAverageScores()) {
        <app-average-scores-panel
          [averageScores]="averageScores()"
          [columnDetails]="columnDetails()"
        ></app-average-scores-panel>
      }
    </div>
  </div>
</section>
