<mat-toolbar>
  <div class="flex gap-x-8 flex-1">
    <a class="hidden md:block" [routerLink]="['/']">ClassroomGroups</a>

    <span class="flex-auto hidden md:block"></span>

    <div class="flex flex-col justify-around">
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{
          theme() === Themes.LIGHT ? 'dark_mode' : 'light_mode'
        }}</mat-icon>
      </button>
    </div>

    <span class="flex-auto block md:hidden"></span>

    @if (!isLoggedIn()) {
      <div class="flex flex-col justify-around">
        <a class="text-sm" [routerLink]="['/sign-in']">Sign In</a>
      </div>

      <a
        class="text-sm bg-primary text-white dark:bg-opacity-20 backdrop-blur-md py-2 px-6 rounded-sm shadow-lg hover:bg-opacity-50 dark:hover:bg-opacity-30 transition duration-100"
        [routerLink]="['/sign-up']"
      >
        Try Free
      </a>
    } @else {
      <div class="flex flex-col justify-around">
        <button
          matTooltip="Account settings"
          mat-icon-button
          [matMenuTriggerFor]="accountMenu"
          (menuOpened)="markMenuAsOpen()"
          (menuClosed)="markMenuAsClosed()"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>

      <div class="flex flex-col justify-around">
        <a
          class="text-sm bg-primary text-white dark:bg-opacity-20 backdrop-blur-md py-2 px-6 rounded-sm shadow-lg hover:bg-opacity-50 dark:hover:bg-opacity-30 transition duration-100"
          [routerLink]="['/classrooms']"
        >
          Go to Classrooms
        </a>
      </div>
    }
  </div>
</mat-toolbar>

<mat-menu #accountMenu="matMenu">
  <app-account-menu [menuIsOpen]="menuIsOpen()"></app-account-menu>
</mat-menu>
