<div
  cdkDropList
  [id]="groupId()!"
  [cdkDropListConnectedTo]="groupIds()"
  class="grid-row student-list overflow-hidden w-full"
  [ngClass]="{
    'min-h-12 border-4 border-dashed border-gray-300':
      editingStudents.length <= 0,
    'rounded-b-md': roundedBottom(),
    'rounded-t-md': roundedTop(),
  }"
  (cdkDropListDropped)="drop($event)"
>
  @for (student of editingStudents; track student.id) {
    <div
      class="grid-row student-row text-sm cursor-move flex border-b border-neutral-200 dark:border-neutral-600 flex"
      cdkDrag
    >
      @for (columnDetail of columnDetails(); track i; let i = $index) {
        <div class="flex-1">
          <div class="flex">
            @if (
              selectedCell()?.fieldId === columnDetail.fieldId &&
              selectedCell()?.studentId === student.id &&
              selectedCell()?.isEditing
            ) {
              <input
                (mousedown)="$event.stopPropagation()"
                #valueInput
                type="text"
                [(ngModel)]="editCellValue"
                placeholder="Add value"
                class="bg-transparent flex-1 text-ellipsis editing-input p-1"
                (change)="saveEdits(); $event.stopPropagation()"
                [attr.field-id]="columnDetail.fieldId"
                [attr.student-id]="student.id"
              />
            } @else {
              <div
                class="cursor-auto flex-1 p-1 flex"
                [ngClass]="{
                  'selecting-input':
                    selectedCell()?.fieldId === columnDetail.fieldId &&
                    selectedCell()?.studentId === student.id &&
                    !selectedCell()?.isEditing,
                  'border border-transparent': !(
                    selectedCell()?.fieldId === columnDetail.fieldId &&
                    selectedCell()?.studentId === student.id &&
                    !selectedCell()?.isEditing
                  ),
                }"
                (click)="
                  startEditing(
                    columnDetail.fieldId,
                    student.fieldIdsToValues[columnDetail.fieldId],
                    student.id
                  )
                "
              >
                <span
                  class="flex-1"
                  [attr.field-id]="columnDetail.fieldId"
                  [attr.student-id]="student.id"
                  [ngClass]="{
                    'opacity-50':
                      student.fieldIdsToValues[columnDetail.fieldId] ===
                        undefined ||
                      student.fieldIdsToValues[columnDetail.fieldId] === '',
                  }"
                >
                  {{
                    student.fieldIdsToValues[columnDetail.fieldId] ||
                      'Add value'
                  }}
                </span>
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
