<div
  class="panel flex-col gap-y-2 px-2 shadow-lg flex-1"
  [ngClass]="{
    'pt-1 rounded-lg': !collapsed(),
    'py-2 rounded-md': collapsed(),
  }"
>
  @if (!collapsed()) {
    <div class="flex justify-between">
      <div class="flex gap-x-2 flex-1">
        <div class="flex flex-col justify-around">
          <ng-content></ng-content>
        </div>

        <div class="flex flex-col justify-around flex-1">
          <input
            class="text-ellipsis text-lg m-0 appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            maxlength="120"
            [value]="groupDetail().label || ''"
            (change)="updateLabel($event)"
            placeholder="Untitled"
            tabindex="-1"
          />
        </div>
      </div>

      <div class="flex gap-x-2 pb-1">
        <button
          [tabIndex]="-1"
          mat-icon-button
          (click)="deleteGroup()"
          class="!flex"
        >
          <mat-icon class="text-red-500">delete</mat-icon>
        </button>
      </div>
    </div>
  }

  @if (columnDetails().length) {
    <app-student-list
      [roundedTop]="true"
      [roundedBottom]="true"
      [classroomId]="classroomId()"
      [configurationId]="groupDetail().configurationId"
      [groupId]="groupDetail().id"
      [groupDetail]="groupDetail()"
      [studentDetails]="groupDetail().studentDetails"
      [groupIndex]="groupIndex()"
      [columnDetails]="columnDetails()"
      (studentFieldUpdated)="updateStudentField($event)"
      (studentDeleted)="deleteStudent($event)"
      (studentPositionUpdated)="updateStudentPosition($event)"
    ></app-student-list>
  }

  @if (!collapsed()) {
    <app-group-footer
      [classroomId]="classroomId()"
      [configurationId]="groupDetail().configurationId"
      [groupId]="groupDetail().id"
      [groupDetail]="groupDetail()"
    ></app-group-footer>
  }
</div>
