@use "@angular/material" as mat;

@use "./app/components/sidebar/_sidebar-theme" as sidebar;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
  )
);

@include mat.core();

html {
  @include mat.core-theme($light-theme);
}
.light-theme {
  @include mat.core-theme($light-theme);
  @include mat.all-component-themes($light-theme);
  @include mat.core-color($light-theme);
  @include mat.all-component-colors($light-theme);
  @include sidebar.theme($light-theme);
}
.dark-theme {
  @include mat.core-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);
  @include mat.core-color($dark-theme);
  @include mat.all-component-colors($dark-theme);
  @include sidebar.theme($dark-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
  vertical-align: top;
  font-size: 1.25em;
}
