@use '@angular/material' as mat;

@use './app/themes/shared/_panel-theme' as panel;
@use './app/themes/shared/_context-menu-theme' as contextMenu;
@use './app/themes/shared/_edit-input-theme' as editInput;
@use './app/directives/_resizable-theme' as resizable;
@use './app/material-utilties' as materialUtilities;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
      tertiary: mat.$magenta-palette,
    ),
  )
);

@include mat.core();

html {
  @include mat.core-theme($light-theme);
}
.light {
  @include panel.lightTheme($light-theme);
  @include editInput.theme($light-theme);
  @include resizable.theme($light-theme);
  @include materialUtilities.lightTheme($light-theme);
  @include contextMenu.lightTheme($light-theme);
}
.dark {
  @include mat.all-component-themes($dark-theme);
  @include panel.darkTheme($dark-theme);
  @include editInput.theme($dark-theme);
  @include resizable.theme($dark-theme);
  @include materialUtilities.darkTheme($dark-theme);
  @include contextMenu.darkTheme($dark-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

// https://stackoverflow.com/questions/75535246/angular-mat-form-field-not-working-properly-a-border-line-appears-inside-the-f
.mdc-notched-outline__notch {
  border-right: none;
}

// https://stackoverflow.com/questions/67563648/hide-arrows-from-mat-form-field-in-angular-material
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.content-container {
  max-width: 1200px;
  margin: auto;
}

.light-gradient {
  background: radial-gradient(
      circle at 136% 136%,
      rgba(255, 255, 255, 0.61),
      rgba(245, 219, 219, 1)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 239 239' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.94' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.dark-gradient {
  background: radial-gradient(
      circle at 136% 136%,
      rgba(65, 1, 117, 0.5),
      rgba(0, 0, 0, 1)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 239 239' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.94' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.grid-bg {
  background-image: linear-gradient(
      to right,
      rgba(131, 131, 131, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(131, 131, 131, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

.custom-pre {
  font-family: inherit;
  white-space: pre-wrap;
  margin: 0;
}
