@use '@angular/material' as mat;

@use './app/components/sidebar/_sidebar-theme' as sidebar;
@use './app/themes/shared/_panel-theme' as panel;
@use './app/themes/shared/_context-menu-theme' as contextMenu;
@use './app/themes/shared/_edit-input-theme' as editInput;
@use './app/directives/_resizable-theme' as resizable;
@use './app/material-utilties' as materialUtilities;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
      tertiary: mat.$magenta-palette,
    ),
  )
);

@include mat.core();

html {
  @include mat.core-theme($light-theme);
}
.light {
  @include sidebar.theme($light-theme);
  @include panel.lightTheme($light-theme);
  @include editInput.theme($light-theme);
  @include resizable.theme($light-theme);
  @include materialUtilities.lightTheme($light-theme);
  @include contextMenu.lightTheme($light-theme);
}
.dark {
  @include mat.all-component-themes($dark-theme);
  @include sidebar.theme($dark-theme);
  @include panel.darkTheme($dark-theme);
  @include editInput.theme($dark-theme);
  @include resizable.theme($dark-theme);
  @include materialUtilities.darkTheme($dark-theme);
  @include contextMenu.darkTheme($dark-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

// https://stackoverflow.com/questions/75535246/angular-mat-form-field-not-working-properly-a-border-line-appears-inside-the-f
.mdc-notched-outline__notch {
  border-right: none;
}

// https://stackoverflow.com/questions/67563648/hide-arrows-from-mat-form-field-in-angular-material
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
