<mat-toolbar>
  <span>Classrooms</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    (click)="openCreateClassroomModal()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" (click)="toggleTheme()">
    <mat-icon>{{
      theme() === Themes.LIGHT ? 'light_mode' : 'dark_mode'
    }}</mat-icon>
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="accountMenu"
    (menuOpened)="markMenuAsOpen()"
    (menuClosed)="markMenuAsClosed()"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<div class="mx-4">
  @if (classroomsLoading()) {
  <mat-spinner></mat-spinner>
  } @else if (classroomDetails().length > 0) {
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="classroomDetails()">
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Name.</th>
        <td mat-cell *matCellDef="let element">{{ element.label }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        (click)="viewClassroom(row.id)"
        class="classroom-row cursor-pointer"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td
          mat-cell
          *matCellDef="let element"
          class="cursor-auto"
          (click)="$event.stopPropagation()"
        >
          <button mat-icon-button (click)="openRenameClassroomModal(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="openDeleteClassroomModal(element)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </table>
  </section>
  } @else {
  <h2>No classrooms!</h2>
  }
</div>

<mat-menu #accountMenu="matMenu">
  <app-account-menu [menuIsOpen]="menuIsOpen()"></app-account-menu>
</mat-menu>
