<div class="panel pt-2 px-2 flex flex-col w-full">
  <!-- Toolbar -->
  <div #toolbar>
    <div class="flex justify-between min-h-16 flex-wrap gap-y-4">
      <div class="flex flex-col justify-around pr-4 flex-1">
        <div class="flex flex-col">
          <input
            class="text-ellipsis text-2xl m-0 appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            maxlength="120"
            [value]="configurationLabel()"
            (change)="updateLabel($event)"
            placeholder="Untitled"
          />
          <input
            class="text-ellipsis text-sm appearance-none bg-transparent rounded border border-transparent hover-border-primary px-2 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            maxlength="150"
            [value]="configurationDescription()"
            (change)="updateDescription($event)"
            placeholder="Add a description for your configuration"
          />
        </div>
      </div>

      <div class="flex gap-x-4 mt-2">
        <mat-form-field
          appearance="outline"
          class="w-48"
          subscriptSizing="dynamic"
        >
          <mat-label>{{
            groupingByDivision ? 'Number of groups' : 'Students per group'
          }}</mat-label>
          <input
            [tabindex]="-1"
            matInput
            type="number"
            [(ngModel)]="groupingValue"
          />
          <button
            [tabindex]="-1"
            [matTooltip]="
              groupingByDivision ? 'Students per group' : 'Number of groups'
            "
            matSuffix
            mat-icon-button
            (click)="toggleGroupingType()"
          >
            <mat-icon>safety_divider</mat-icon>
          </button>
        </mat-form-field>

        <div class="flex gap-x-2">
          <div class="flex flex-col justify-around">
            <button [tabindex]="-1" mat-flat-button>Mixed Abilities</button>
          </div>

          <div class="flex flex-col justify-around">
            <button [tabindex]="-1" mat-stroked-button>
              Similar Abilities
            </button>
          </div>

          <div class="flex flex-col justify-around">
            <button
              [tabindex]="-1"
              matTooltip="More"
              mat-icon-button
              [matMenuTriggerFor]="configurationMenu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Data Grid Header -->
  <div>
    <div class="mt-4">
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        class="grid-row border-t border-x border-neutral-200 dark:border-neutral-600 flex flex-row rounded-t-md min-h-16"
        [ngClass]="{
          'rounded-b-md': (defaultGroup()?.studentDetails?.length ?? 0) <= 0,
        }"
        (cdkDropListDropped)="drop($event)"
      >
        @for (column of columns; track column.id) {
          <div
            class="draggable-field grid-row p-2 border-r border-neutral-200 dark:border-neutral-600 rounded-t-md min-w-48"
            cdkDrag
            [cdkDragData]="column"
            [cdkContextMenuTriggerFor]="columnHeaderMenu"
          >
            <ng-template #columnHeaderMenu>
              <div class="context-menu" cdkMenu>
                <button
                  class="context-menu-item"
                  cdkMenuItem
                  (click)="deleteColumn(column.id)"
                >
                  <mat-icon class="mr-3">delete</mat-icon>
                  <span>Delete column</span>
                </button>
              </div>
            </ng-template>

            <div class="flex justify-between w-full">
              <div class="flex flex-col justify-around flex-1">
                <div class="flex">
                  @if (editingFieldId === column.fieldId) {
                    <input
                      (mousedown)="$event.stopPropagation()"
                      #valueInput
                      type="text"
                      [(ngModel)]="editingField"
                      placeholder="Add value"
                      class="outline-none bg-transparent border-none w-full text-ellipsis"
                      (change)="saveEdits()"
                    />
                  } @else {
                    <span
                      class="cursor-text flex-1"
                      [ngClass]="{
                        'opacity-50':
                          column.label === undefined || column.label === '',
                      }"
                      (click)="startEditing(column.fieldId)"
                    >
                      {{ column.label || 'Add value' }}
                    </span>
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<mat-menu #configurationMenu="matMenu">
  <ng-template matMenuContent>
    <button
      mat-menu-item
      (click)="createStudent()"
      [disabled]="
        studentsInConfiguration().length >=
        (account()?.subscription?.maxStudentsPerClassroom || 0)
      "
      [matTooltip]="
        studentsInConfiguration().length >=
        (account()?.subscription?.maxStudentsPerClassroom || 0)
          ? 'Student limit reached!'
          : ''
      "
    >
      <mat-icon>add_person</mat-icon>
      <span>Add student</span>
    </button>
    <button
      [disabled]="
        listGroupDetails().length >=
        (account()?.subscription?.maxStudentsPerClassroom || 0)
      "
      [matTooltip]="
        listGroupDetails().length >=
        (account()?.subscription?.maxStudentsPerClassroom || 0)
          ? 'Group limit reached!'
          : ''
      "
      mat-menu-item
      (click)="createGroup()"
    >
      <mat-icon>add</mat-icon>
      <span>Add group</span>
    </button>
    <button
      [disabled]="
        columnDetails().length >=
        (account()?.subscription?.maxFieldsPerClassroom || 0)
      "
      [matTooltip]="
        columnDetails().length >=
        (account()?.subscription?.maxFieldsPerClassroom || 0)
          ? 'Column limit reached!'
          : ''
      "
      mat-menu-item
      (click)="openCreateColumnDialog()"
    >
      <mat-icon>add</mat-icon>
      <span>Add column</span>
    </button>
    <button
      mat-menu-item
      (click)="openDeleteConfigurationModal()"
      [matTooltip]="
        configurations().length <= 1
          ? 'You can\'t delete the last configuration'
          : ''
      "
      [disabled]="configurations().length <= 1"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete configuration</span>
    </button>
  </ng-template>
</mat-menu>
